body{font-family:$font-family-sans-serif;font-size:18px;}
hr{text-align:center;margin:0 auto;opacity:0.5;}
ul{text-transform:uppercase;
	&.inline-list.right{text-transform:none;
		& a{color:#000;}
		& a:hover{color:rgba(0,0,0,0.5);}}}

h1,h2,h3,h4{font-family:$font-family-monospace;}
h1{color:$smoke;font-size:32px;line-height:28px;margin-top:16px;margin-bottom:0px;text-align:center;}
h2{color:$smoke;font-size:36px;line-height:34px;}
h3{color:$smoke;font-size:24px;text-align:center;font-weight:500;}
h4{color:$jet;font-size:28px;padding-top:5px;}

footer { & a, & p {font-size:14px;}}

.button{transition: 0.5s;}
.columns.large-centered{padding-left:5px;padding-right:5px;}
.about-box{color:$smoke;}
.row .main-wrapper{color:$smoke;}
.about-content{background-color:$smoke;box-shadow:2px 2px 10px rgba(0,0,0,0.1);border-radius:$global-radius;}
.button-group li .button{border:0!important;}
.hero{padding-bottom:50px;background-size:cover;box-shadow:inset 0px 0px 0 2000px rgba(0,0,0,0.2);}
.hero-content{padding:40px 0.9375rem;background-color:$jet;}
.panel{margin:40px 0 40px 0;border:none;background-color:$smoke;border-radius:$global-radius;}
.large-4 img{box-shadow:2px 2px 10px rgba(0,0,0,0.1);}

.black-box{background-color:rgba(0,0,0,0.55);padding:35px;font-weight:900;
	& p{font-weight:900;color:$smoke;}}
.button{-webkit-appearance:none;background-color:transparent;border-width:0;text-align:center;box-shadow:0 0 0;
	&:hover{color:rgba(255,255,255,0.7);background-color:transparent;}}
.secondary.small.button{background-color:transparent;color:#fff;border:2px #fff solid;border-radius:5px;padding:15px 50px 15px 50px;margin:0;
	&:hover{background-color:rgba(255,255,255,0.5);}}
.radius.right.button{color:#000;border:2px #000 solid;border-radius:5px;padding:15px 50px 15px 50px;margin:0;font-size:0.8125em;
	&:hover{background-color:rgba(0,0,0,0.1);}}
.sub-content{background-color:$white}

@media only screen and (max-width: 40em)     {.columns.large-centered{font-size:13px;}}
@media only screen and (min-width: 40.063em) {.columns.large-centered{font-size:14px;}}
@media only screen and (min-width: 64.063em) {.radius.right.button{color:#000;border:2px #000 solid;border-radius:5px;padding:15px 50px 15px 50px;margin-top:25px;font-size:0.8125em;}}
@media only screen and (min-width: 40.063em) {.radius.right.button{color:#000;border:2px #000 solid;border-radius:5px;padding:15px 50px 15px 50px;margin-top:25px;font-size:0.8125em;}}