<section class="hero" data-parallax="scroll" data-image-src="<%= asset_path('hero.jpg') %>">
	<div class="row">
	  <div class="large-12 columns">
	    <div class="main-wrapper">
	      <h1>Janglin's</h1>
	      <h3>Test site</h3>
	      <hr>
	      <div class="row">
	        <div class="large-6 columns large-centered">
	          <ul class="button-group even-3">
	            <li><a href="#" class="button">Home</a></li>
	            <li><a href="#" class="button">About</a></li>
	            <li><a href="#" class="button">Contact</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="large-6 columns about-box">
	    <div class="black-box">
	      <h2>Title goes here</h2>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus laoreet suscipit. Pellentesque sollicitudin nec ex in pharetra. Quisque eu iaculis justo. Donec imperdiet iaculis ligula a scelerisque. Pellentesque diam sem, fermentum at velit id, ultricies sodales velit.</p>
	      <a href="#" class="secondary small button">Learn More →</a>
	    </div>
	  </div>
	</div>
</section>